[submodule "client/src/external/yaml-cpp"]
	path = client/src/external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
	branch = yaml-cpp-0.6.3-89-ga6bbe0e
[submodule "json"]
	path = client/src/external/json
	url = https://github.com/nlohmann/json.git
