[Unit]
Description=Telemetry server service file
Documentation=https://github.com/TheYonkk/PiCAN
After=multi-user.target

[Service]
Restart=on-failure
RestartSec=1
ExecStart=/home/sparty/PiCAN/server/venv/bin/python3 /home/sparty/PiCAN/server/telem_server.py -c /home/sparty/PiCAN/server/telem_server.conf

[Install]
WantedBy=multi-user.target